{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        {% csrf_token %}
        <div id="user-info">
          <div class="form-field">
            <input
              required
              class="form-control"
              autocomplte="on"
              type="text"
              name="name"
              placeholder="Name.."
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              autocomplte="on"
              type="email"
              name="email"
              placeholder="Email.."
            />
          </div>
        </div>

        <div id="shipping-info">
          <hr />
          <p>Shipping Information:</p>
          <hr />
          <div class="form-field">
            <input
              class="form-control"
              required
              type="text"
              name="address"
              placeholder="Address.."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              required
              type="text"
              name="city"
              placeholder="City.."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              required
              type="text"
              name="state"
              placeholder="State.."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              required
              type="text"
              name="zipcode"
              placeholder="Zip code.."
            />
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Continue"
        />
      </form>
    </div>

    <br />
    <div class="box-element hidden" id="payment-info">
      <small>Paypal Options</small>
      <div id="paypal-button-container"></div>
      {% comment %} <button id="make-payment">Pay Now</button> {% endcomment %}
    </div>
  </div>

  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'cart' %}"
        >&#x2190; Back to Cart</a
      >
      <hr />
      <h3>Order Summary</h3>
      <hr />
      {% for item in items %}
      <div class="cart-row">
        {% comment %}
        <span id="productId" style="visibility: hidden"
          >{{item.product.id}}</span
        >
        {% endcomment %}
        <div style="flex: 2">
          <img class="row-image" src="{{item.product.imageURL}}" />
        </div>
        <div style="flex: 2"><p>{{item.product.name}}</p></div>
        <div style="flex: 1"><p>${{item.product.price|floatformat:2}}</p></div>
        <div style="flex: 1"><p>x{{item.quantity}}</p></div>
      </div>
      {% endfor %}
      <h5>Items: {{order.get_cart_items}}</h5>
      <h5>Total: ${{order.get_cart_total}}</h5>
    </div>
  </div>
</div>


<script src="https://www.paypal.com/sdk/js?client-id=AW4XGhZOH-oRlEBTVJl13Ol1uWucXVfGNOnVZW8-nGV94rleh0Q9oc7lfWy_kqOspQ0llpQbbV17MPfg&currency=USD&disable-funding=credit"></script>

<!-- WORKING  -->
<!-- https://www.paypal.com/sdk/js?client-id=AW4XGhZOH-oRlEBTVJl13Ol1uWucXVfGNOnVZW8-nGV94rleh0Q9oc7lfWy_kqOspQ0llpQbbV17MPfg&currency=USD&disable-funding=credit -->

<!-- SANDBOX -->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=ATYi5OGXSrsvkutswINYABq9ziIYhUN4ATNWc1MfjA105Vu_noDaBhlhiG-UNyi0TYcIFkqbKr-9pwmb&currency=USD&disable-funding=credit"></script> -->

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-3485Y34LHZ"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-3485Y34LHZ");
</script>

<script>
  var total = "{{order.get_cart_total}}";
  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      style: {
        color: "black",
        shape: "pill",
      },
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: parseFloat(total).toFixed(2),
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          // Show a success message to the buyer
          submitFormData();
        });
      },
    })
    .render("#paypal-button-container");
</script>

<script type="text/javascript">
      var shipping = '{{order.shipping}}'
      var productIds = []
     {% for item in items %}
     productIds.push("{{item.product.id}}")
     {% endfor %}
     console.log("ids",productIds)

      if (shipping == 'False'){
          document.getElementById('shipping-info').innerHTML = ''
      }


      if (shipping == 'False' && user !='AnonymousUser'){
          document.getElementById('form-wrapper').classList.add('hidden');
          document.getElementById('payment-info').classList.remove('hidden');
  }

      var form = document.getElementById('form')

      csrftoken = form.getElementsByTagName("input")[0].value

      form.addEventListener('submit', function(e){
          e.preventDefault()
          console.log('Form Submitted..')

           submitFormData() //TEST PAYMENT

          // document.getElementById('form-button').classList.add('hidden');
          document.getElementById('payment-info').classList.remove('hidden');
           setTimeout(function(){


               window.scrollTo(0,document.body.scrollHeight);
            }, 200);


      })

      // document.getElementById('make-payment').addEventListener('click', function(e){
      //     submitFormData()
      // })

      function submitFormData(){
          console.log('Payment Button Clicked')


          var userFormData = {
              'name':null,
              'email':null,
              'total': total ,
          }
          var shippingInfo = {
              'address':null,
              'city':null,
              'state': null ,
              'zipcode':null,
          }

          if (shipping != 'False'){
              shippingInfo.address = form.address.value
              shippingInfo.city = form.city.value
              shippingInfo.state = form.state.value
              shippingInfo.zipcode = form.zipcode.value

          }


              userFormData.name = form.name.value
              userFormData.email = form.email.value
              shippingInfo.email = form.email.value


          var url = "/process_order/"
          fetch(url, {
              method:'POST',
              headers:{
                  'Content-Type':'application/json',
                  'X-CSRFToken': csrftoken,
              },
              body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo,'product':productIds}),
          })
          .then((respone) => respone.json())
          .then((data) => {
              console.log('Success:', form.email.value);
                alert('Transaction completed , confirmation was sent to ' + form.email.value + 'If you do not see the email in a few minutes, check your “junk mail” folder or “spam” folder. We make every effort to ensure that these emails are delivered. If you do not see the email in your inbox, please check your junk mail folder and add "support@milliyar.com” to your White List or Safe Sender List. ');


          cart ={}
          document.cookie = 'cart=' +JSON.stringify(cart) + ";domain= ;path=/"

              window.location.href = "{% url 'home' %}"
          })
      }
</script>

{% endblock content %}
