<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milliyar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/white.ico' type='image/x-icon' %}">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/jquery.exzoom.css' %}">  
    <link rel="stylesheet" href="{% static 'css/main.css' %}">    
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>

<!-- SCSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src="less.js" type="text/javascript"></script> -->
    <!-- CAROUSEL JQUERY AND JS-->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $("#carousel").carousel();
    </script> -->


    <!-- ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3485Y34LHZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3485Y34LHZ');
    </script>

    

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getToken('csrftoken');

      function getCookie(name){
        var cookieArr = document.cookie.split(";");


        for(var i=0 ; i< cookieArr.length;i++ ){
          var cookiePair = cookieArr[i].split("=");

          if(name == cookiePair[0].trim()){
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      }
      var cart = JSON.parse(getCookie('cart'))
      if ( cart == undefined){
        cart = {}
        console.log('Cart was created ')
        document.cookie= 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }
      console.log('Cart:', cart)

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}"><img class="materialboxed" width="150px" style="margin-bottom: 7px;" src="{% static 'images/hflogo.png' %}"></a>
        <!-- <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Link</a>
            </li> -->
          </ul>
          <div class="form-inline my-2 my-lg-0">
                <!-- <a href="#"class="btn btn-warning">Login</a> -->
            
                <!-- <a href="{% url 'cart' %}">
                  <i class="material-icons" style="color:black">shopping_cart</i>
                   </a>
                  <p id="cart-total">{{cartItems}}</p> -->
   
               </div>
         
        </div>
      </nav>
      <div class="row" >
        <div class="col text-center">
          <a class="btn-floating btn-large black pulse" href="{% url 'home' %}">
            <i class="large material-icons">home</i>
          </a>
          <a class="btn-floating btn-large black pulse" href="{% url 'shop' %}">
            <i class="material-icons"><img src="{% static 'images/shopbutton.png' %}" alt="" width="25px" height="25px" style="margin-bottom: 7px;"></i></a>
          <a class="btn-floating btn-large black pulse" href="{% url 'cart' %}">
            <i class="material-icons">shopping_cart</i></a>
        </div>
      </div>
          <hr> 
        
            <!-- VIDEO CAN BE PLACED HERE  -->
          
              <!-- <p ALIGN=CENTER> -->
                <!-- COLLECTIONScomingSoon -->
               <!-- </p> -->
                <!-- <iframe id="responsive" src="https://player.vimeo.com/video/582819374?autoplay=1&loop=1&autopause=0&muted=1"  width="100%"frameborder="0" allowfullscreen></iframe>
                <hr> -->
            <!-- <iframe id="responsive"src="https://www.youtube.com/watch?v=lEVj_lKfkYM?autoplay=1" frameborder="0"  allowfullscreen></iframe> -->
            <!-- </div> -->
          <!-- HEADLINER CAN BE PLACED HERE -->
          <!-- <h1 id="responsive">COLLECTIONS COMING SOON</h1> -->
      
          
      
      <!-- CAROUSEL -->
      
      <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
          <!-- <p class="split__left-right" ALIGN=CENTER>
            Collections coming soon 
          </p> -->
          <div class="slide slide1">
            <div class="slide-content">
              <!-- <img src="{% static 'images/transparentproto.png' %}"  width='30%'alt=""> -->
              <img src="{% static 'images/mot1.png' %}"  width='30%'alt="">
              <span></span>
            </div>
          </div>
          <div class="slide slide2">
            <div class="slide-content">
              <!-- <img src="{% static 'images/trans2.png' %}"  width='30%'alt=""> -->
              <img src="{% static 'images/mot2.png' %}"  width='30%'alt="">
              <span></span>
            </div>
          </div>
          <div class="slide slide3">
            <div class="slide-content">
              <!-- <img src="{% static 'images/trans3.png' %}"  width='30%'alt=""> -->
              <img src="{% static 'images/mot3.png' %}"  width='30%'alt="">
              <span></span>
            </div>
          </div>
          <!-- ADD MORE SLIDES IF NEEDED -->
          <!-- <div class="slide slide4">
            <div class="slide-content">
              <img src="{% static 'images/44.jpg' %}"  width='25%'alt="">
              <span></span>
            </div>
          </div> -->
        </div>
        <div id="arrow-right" class="arrow"></div>
      </div>
    </div>
     <!-- <hr>
     <iframe id="responsive" src="https://player.vimeo.com/video/582819374?autoplay=1&loop=1&autopause=0&muted=1"  frameborder="0" allowfullscreen></iframe>
     <hr> -->
    <!-- WHO WE ARE -->
    <div class="split">
      <div class="split__left-right split__left-right--finn" id="two"  class="container">
        <img class="split__left-right__avatar avatar--finn"  class="column" class="image"src="{% static 'images/11.jpg' %}" alt="Finn the Human" id="responsive"/>
        <h3></h3>
        <p>
        </p>
      </div>
      <div class="split__left-right split__left-right--jake" id="one">
        <img class="split__left-right__avatar avatar--jake"  class="column"  />
       
          <p class="whoweareintro" ALIGN=LEFT>Established in 2021 ,Arabic for 'billion', Milliyar was chosen to represent our brand's effort to bridge the gap between the rich, diverse culture of the East and the vibrant, fast-paced culture of the West. <br>

          <p class="whoweareintro" ALIGN=CENTER>Our client base is primarily made up of the internationally-minded, the third-culture-individuals, and those who don't want to be constrained by one single aesthetic; at Milliyar, we will always emphasize on multicultural unification because it is the pure embodiment of todays world and lifestyle.</br>

          <p class="whoweareintro" ALIGN=RIGHT> A voice for street wear & gear, we offer an array of creative premium clothing wear for different generations of creatives & formed by love for hip-hop , art , skate , cultural fashion ,Milliyar pursues to spread from the Los Angeles community into a global prodigy .</p>
        </p>
      </div>
    </div>

    <!-- VideoComment -->
    {% comment %} <iframe id="responsive"src="https://www.youtube.com/embed/dvPfmcGtmrI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  {% endcomment %}
    <iframe id="responsive" src="https://player.vimeo.com/video/582819374?autoplay=1&loop=1&autopause=0&muted=1"  width="100%"frameborder="0" allowfullscreen></iframe>
    
     <!-- LOGO COLORS -->
     <div class="split">
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/8.png' %}" 
        width="100px" id="responsive" alt="Finn the Human" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/5.png' %}" 
        width="100px"  id="responsive" alt="fin the Dog" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/7.png' %}" 
        width="100px"  id="responsive" alt="fin the Dog" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/4.png' %}" 
        width="100px"  id="responsive" alt="fin the Dog" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/1.png' %}" 
        width="100px"  id="responsive" alt="fin the Dog" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
      <span class="split__left-right split__left-right--fin">
        <img class="split__left-right__avatar avatar--fin" src="{% static 'images/6.png' %}" 
        width="100px"  id="responsive" alt="fin the Dog" margin: auto;/>
        <h3></h3>
        <p>
        </p>
      </span>
    </div>
    <hr>
    {% comment %} <div>
  <iframe id="responsive" src="https://player.vimeo.com/video/582819374?autoplay=1&loop=1&autopause=0&muted=1"  width="100%"frameborder="0" allowfullscreen></iframe>
  <hr>
    </div>   {% endcomment %}
<!--        -->
    
        <!-- Mabye color change on who we are title -->
        <!-- <h5 class ="boxtitles" >WHO WE ARE</h5> -->
          
          <!-- <div id="responive">
           <iframe frameborder="0"   src="{% static 'images/footer.mp4' %}" allow="accelerometer; autoplay; clipboard-write; encrypted-media;  " allowfullscreen></iframe>
          </div>
        
     -->
 
        {% block content %}

        {% endblock content %}

    </div>
   
    <div class="loader">
      <h4>..</h4>
      <img src="{% static 'images/milliyarloader.gif' %}"alt="loading"/>
      <h4>..</h4>
    </div>
    
    <script>
     
      window.addEventListener("load",function(){
        const loader = document.querySelector(".loader");
        loader.className += " hidden"
      })
       $(window).on("load",function(){
         $(".loader-wrapper").fadeOut("slow");
       })
     </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
  <div>
    <div id="footer">
      <img class="materialboxed" width="150px" style="margin-bottom: 7px; padding: 5px;" src="{% static 'images/hflogo.png' %}">  Ltd.&copy; </div>
</div>



<!-- CAROUSEL SCRIPT DONT TOUCH -->
<script>
  let sliderImages = document.querySelectorAll(".slide"),
  arrowLeft = document.querySelector("#arrow-left"),
  arrowRight = document.querySelector("#arrow-right"),
  current = 0;

  // Clear all images
  function reset() {
    for (let i = 0; i < sliderImages.length; i++) {
      sliderImages[i].style.display = "none";
    }
  }

  // Initialize slider
  function startSlide() {
    reset();
    sliderImages[0].style.display = "block";
  }

  // Show previous slide
  function slideLeft() {
    reset();
    sliderImages[current - 1].style.display = "block";
    current--;
  }

  // Show next slide
  function slideRight() {
    reset();
    sliderImages[current + 1].style.display = "block";
    current++;
  }

  // Left arrow click
  arrowLeft.addEventListener('click', function() {
    if (current === 0) {
      current = sliderImages.length;
    }
    slideLeft();
  });

  // Right arrow click
  arrowRight.addEventListener('click', function() {
    if (current === sliderImages.length - 1) {
      current = -1;
    }
    slideRight();
  });
  // Interval for slider
  var a = function(){
    if (current === sliderImages.length - 1) {
      current = -1;
    }
    slideRight();
  }
  setInterval(a, 5000);

  startSlide();

</script>
</body>
</html>