<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h6 id="pic"><strong>{{product.name}}</strong></h6>
    <div>
        <button id="btn1" onclick="changeY()">Yellow</button>
        <button id="btn2" onclick="changeP()">Pink</button>
        <button id="btn3" onclick="changeB()">Black</button>
        <!-- <button id="btn4" onclick="change4()"></button>
        <button  id="btn5" onclick="change5()"></button> -->


    </div>

    <!-- Color changer script -->
    <script>
        function changeP() {

            var button = document.getElementById('pic');
            button.src = "{% static 'images/SPACEPINK.png' %}";
            button.setAttribute("style", "background-color: pink");

        }

        function changeY() {

            document.getElementById('pic').src = "{% static 'images/SPACEYELLOW.png' %}";

        }

        function changeB() {
            document.getElementById('pic').src = "{% static 'images/SPACEBLack.png%}"
        }
    </script>
</body>

</html>