{% extends 'store/base_email.html' %} 
{% block email_title_block %}
{% endblock %}
 {% block email_content %}
<h3>Greetings {{name}}</h3> <br />

Thank you for shopping with Milliyar, your order has been recieved! <br />

Here is what you have ordered <br />
<hr>
<div>
{% for item in product_list %} 
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> {{item.img}} </div>
    <div style="margin-left: 620px;"> <div>
        <span><b>Product</b>:{{item.name}}  </span>|<br>
        <span><b>Price</b>:{{item.price}} $</span>|<br>
        <span><b>Qty</b>:{{item.quantity}} </span> 
    </div> </div>
</div>
 <br />
 {% endfor %}
</div>
<br />
We will send another email shortly with tracking information, meanwhile visit us
on our social media to get more information about our next drop! 
{% endblock %}

