/* LOADER */
.loader{
  position:fixed;
  z-index:99;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  display:flex;
  justify-content:center;
  align-items:center;

  /* opacity: 0.7; */
}

.loader.hidden{
  animation: fadeOut 10s;
  animation-fill-mode:forwards;
}

@keyframes fadeOut{
   100%{
     opacity:0;
     visibility:hidden;
   }
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}



body {
    width:100%;
    height:100%;
    font-family : Georgia, serif;
    /* font-weight:bold; */
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: #212121;}
    25%{background-color:white;}
    50%{background-color:white;}
    75%{background-color:#212121;}
    100% {background-color: #212121;}
    
  }


.materialboxed{
  cursor:pointer;
}


/* HOME */
.boxtitles{
  text-align: center;

}
/* #show_bg_2 {
  
  width: 100%;
  height: 100%;
  height: 400px;
  background-size: cover;
  color: white;
  font-size: 100%;
  padding: 20px;
  text-align: center;
  word-wrap:break-word;
} */

/* CAROUSEL */
#slider,
.wrap,
.slide-content {

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}


.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* 
.slide1 {
  background-image: url("https://wallpaperaccess.com/full/1155007.jpg");
}
.slide2 {
  background-image: url("https://wallpaperaccess.com/full/1092613.jpg");
}
.slide3 {
  background-image: url("https://i.pinimg.com/originals/78/f3/4c/78f34c25a0faf5a1a566656b3d2ce10d.jpg");
} */

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #BF2530 transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #BF2530 ;
  right: 0;
  margin-right: 30px;
}

/* PRODUCT DONT TOUCH */
/* #pic-thumbnail{
  
} */

.introbutton{
  display: block;
  text-align: center;
  text-decoration: none;
  color:WHITE;
  cursor: default;
}
#slide-wrapper{
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}


.arrow{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.arrow:hover{
  opacity: .5;
  width: 35px;
  height: 35px;
}
/* #product-slider{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
} */
/* #product-slider::-webkit-scrollbar {
  width: 8px;

}

#product-slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

#product-slider::-webkit-scrollbar-thumb {
background-color: #dede2e;
outline: 1px solid slategrey;
 border-radius: 100px;

}

#product-slider::-webkit-scrollbar-thumb:hover{
  background-color: #18b5ce;
} */


.slider-pics{
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid black;
}
.slider-pics:hover{
  opacity:1;
}
.active{
  opacity: 1;
}

.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail{
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
  
} 

.product{
    border-radius: 0 0 4px 4px;
}

.bg-dark{
    background-color: black!important;
}


/* LOGO COLORS */
.split {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}
#responsive {
  width: 100%;
  height: auto;
}
.split__left-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 5vw 0;
}

/* .split__left-right__avatar {
  border-radius: 100%;
} */

/* .avatar--finn {
  border: 5px solid #e1e1e1;
}

.avatar--jake {
  border: 5px solid #60447D;
} */

.split__left-right--finn {
  background:#B72A3C;
  color: #f1f1f1;  
}

.split__left-right--jake {
  background: #f8f8f8;
  color: #B72A3C;
}
/* split div */

/*  whoweare1*/

.split {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}

.split__left-right {  
  word-spacing: 10px;
  letter-spacing: 1px;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 15;
  font-variant: small-caps;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

/* .container {
  position: relative;
  width: 50%;
} */

 /* .overlay-image {
  display: block;
  width: 100%;
  height: auto;
} 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
} */

/* .container:hover .overlay {
  opacity: 1;
} */ 

.whoweareinto:first-letter{
  text-transform: uppercase;
}
/* .whoweareinto {
color: #424242;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
text-align:center;
margin: 40px auto;
text-transform: lowercase;
line-height: 145%;
font-size: 14pt;
font-variant: small-caps;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
font-style: italic;
color: #424242;
} */

/* TWITTER HEADLINE */


/* 
a { 	font-style: normal;
font-variant: small-caps;
text-decoration: none;
color: #afafaf;
font-size: 14px;
} */

.split__left-right--finn {
  background: #fff;
  color: #050505;  
}

.split__left-right--jake {
  background: #212121;
  color: #fff;
}

/* iframe{
  width: 100%;
  height: 100%;
} */
/* PRODUCT COLOR CHANGER */



#btn1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;

}
#btn2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFAEC8;

}
#btn3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FDECA6 ;

}



/* CART */
#cart-icon{
    width:25px;
    display: inline-block;
    margin-left: 15px;
}

/* #cart-total{
    display: inline-block;
    text-align: center;
    color:#fff;
    background-color: #BF2530;
    width: 20px;
    height: 50px;
    border-radius: 50%;
    font-size: 14px;

} */

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 10px;
}

.btn{
    border-radius: 0;
}

.row-image{
    width: 100px;
}

.form-field{
    width:250px;
    display: inline-block;
    padding: 5px;
}

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right:10px;
	

}

.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

.chg-quantity:hover{
    opacity: .6;
    transform: scale(1.03);
}


.hidden{
    display: none!important;
}

/* shop image */
gallery {
  width:300px;
  height:200px;
  position: relative;
 padding: 0;
 margin: 0;
 text-align: center;
}

.gallery-image{
cursor:pointer;
 position: relative;
 display: block;
}

.gallery-text{
   position: absolute;
   top: 0; right: 0;
   bottom: 0; left: 0;
   text-align: center;
   background-color: rgba(0,0,0,0.8);
   opacity: 0;
   -webkit-transition: opacity 0.6s;
   -moz-transition: opacity 0.6s;
   transition: opacity 0.6s;
    vertical-align:middle;
    line-height:200px;
}

.gallery-text:hover{
   opacity: 1;      
}

.gallery-text h3{
   color: white;
   display: inline-table;
    vertical-align:middle;
    line-height:100%;      
    text-align: center;      
}
#footer{
    font-variant: small-caps;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    grid-area: footer;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed
    

}
